.root {
    -fx-base-color: #c9184a;
    -fx-hover-color: #a1153b;
}

.home-top-bar {
    -fx-background-color: -fx-base-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.home-buttons {
    -fx-background-color: -fx-base-color;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.home-buttons:hover {
    -fx-background-color: -fx-hover-color;
}

.back-button {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.back-button:hover {
    -fx-background-color: -fx-hover-color;
}

.image-view{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.metric-card {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}
